<div id="wrapper">

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="top-area">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-md-6">
					<p class="bold text-left">Du Lundi au Vendredi - de 09:00:00 à 18:00:00</p>
					</div>
					<div class="col-sm-6 col-md-6">
					<p class="bold text-right">Appelez moi au : 06 89 03 13 60</p>
					</div>
				</div>
			</div>
		</div>
        <div class="container navigation">
		
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="img/logo.png" alt="" width="150" height="40" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			      <ul class="nav navbar-nav">

<<<<<<< HEAD
              <li><a href="/">Accueil</a></li>

              <li><a href="/contact">contact</a></li>

              <li><a href="/actualites">Actualites</a></li>

              <li><a href="booking">booking</a></li>

              <li><a href="register">register</a></li>

        
			  </ul>
=======
                    <li><a href="/">Accueil</a></li>

                    <li><a href="/contact">Contact</a></li>

                    <li><a href="/actualites">Actualites</a></li>
                    {% if session.logged_in %}
                        {% if session.user_is_admin %}
                            <li><a href="/bookings/listbooking">Liste Consultations</a></li>
                            <li><a href="/users/listuser">Liste utilisateurs</a></li>
                        {% else %}
                            <li><a href="/booking">Booking</a></li>
                        {% endif %}
                        <li><a href="/logout">Déconnexion</a></li>
                    {% else %}
                        <li><a href="/booking">Booking</a></li>
                        <li><a href="/register">Inscription</a></li>
                        <li><a href="/booking">Connexion</a></li>
                    {% endif %}
			        </ul>
>>>>>>> 9c9846b346baadfaf03dffd98fb72f22692600f6
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

</div>